.wrap-vest {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    height: 70%;
    gap: 1vmin;
    width: 100%;
    max-width: 1700px;

}

.buttons-wrap{
    width: 80%;
    height: 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.buttons-wrap button{
    color: #fff;
    width: 20%;
    height: 60%;
    padding: 12px;
    background: linear-gradient(268.26deg, #F4AD4A -4.19%, #FC6359 73.55%, #9C54F9 133.07%);
    font-weight: 700;
    border-radius: 10px;
    border: none;
    font-size: max(calc(12 * var(--res)), 6px);
}

.vest-card{
    width: 80%;
    height: 30%;
    background: #2c2a2e;
    justify-content: center;
    align-items: start;
    display: flex;
    flex-direction: column;
    border-radius: 8px;
}

.top-vest{
    display: flex;
    width: 100%;
    height: 35%;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid white;
}
.top-vest p{
    padding: 0 1em;
    color: white;
    font-size: 12px;
}

.content-vest{
    display: flex;
    width: 100%;
    height: 65%;
    align-items: center;
    color: white;
    justify-content: center;
    font-weight: 300;
}

.content-vest h5{
    font-weight: 300;

}